/* === CSS RESET === */
/** {
  padding: 0;
  border: 0;
  margin: 0;
}*/
/* === END RESET === */

html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
   #coords { background-color: black; color: white; padding: 5px; }
   	   img { margin-bottom: -12px; border-radius: 4px; }
   	     a { color: #3b65a7; text-decoration: none; font-size: 14px; line-height: 1.28571em; font-weight: bold;}
   	     p { padding-left: 130px; margin-top: -25px;}
   	     i { margin-left: 5px; }
   	  span { margin-left: 5px; position: relative; bottom: 5.75px; }
   	  	ul { list-style: none; margin-left: -38px; }
   	.first { margin-top: -32px; }
.fa-circle { font-size: 5px; color: #999; margin-right: 5px; position: relative; bottom: 3px;}
   	  	h4 { margin-top: -20px; font-weight: normal; }
   	.stars { padding-left: 125px;};
   	
/* Adjustments to account for mapbox.css box-sizing rules */
.leaflet-control-zoomslider-knob { width:14px; height:6px; }
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box;
          box-sizing:content-box;
  }