/* === CSS RESET === */
* {
  margin: 0;
  padding: 0;
}
/* === END RESET === */

body{
	margin: 25px;
}

button{
	width: 90px;
	float: left;
	position: relative;
	margin: 7px;
	height: 40px;
	top: 0px;
	overflow: hidden;
	border: 1px solid #AFAFAF;
	background-color: #d3d3d3;
	box-shadow: 0px 4px #858484, 0px 10px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
	border-radius: 5px;
}

button:active{
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

button:focus{
	outline: none;
}

#calculator{
	width: 500px;
}

input{
	text-align: center;
	width: 136px;
}

/* Clear button */
button:nth-of-type(14){
	background-color: #EA2B48;
	box-shadow: 0px 4px #8b0000, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Equal button */
button:nth-of-type(15){
	background-color: #0BC30B;
	box-shadow: 0px 4px #006400, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

button:nth-of-type(14):active, 
button:nth-of-type(15):active{
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
  	outline: 0;
}

button:nth-of-type(14):focus,
button:nth-of-type(15):focus{
	outline: 0;
}
	