/* === CSS RESET === */
/** {
  padding: 0;
  border: 0;
  margin: 0;
}*/
/* === END RESET === */

html{
	padding: 10px;
	text-align: center;
}

div{
	margin-top: 10px;
}

button{
	height: 35px;
	width: 45px;
	font-size: 20px;
	margin-right: 3px;
}

#textOne, 
#textThree{
	width: 70px;
	margin-right: 3px;
	text-align: center;
}

#textTwo{
	width: 50px;
	margin-right: 3px;
	text-align: center;
}