/* CSS reset settings here 

* {
	margin: 0px;
	padding: 0px;
}

*/

body{
	margin: 10px auto;	
}

h1{
	text-align: center;
	
}

.Flag{
	height: 496px;
	width: 900px;
	margin: 0px auto;
	margin-bottom: 50px;
	border: 1px solid black;
}


/* =========================USA=========================== */

.US-Red {
	height: 38px;
	width: 898px;
	background-color: #B22234;
}

.US-White {
	height: 38px;
	width: 898px;
	background-color: #FFFFFF;
}
.US-Blue {
	background-color: #3C3B6E;
	float: left;
	height: 266px;
	width: 362px;
	padding-top: 4px;
}

.US-Blue a,
.US-Blue a:link,
.US-Blue a:visited,
.US-Blue a:active,
.US-Blue a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.star {
	font-size: 25px;
	width: 54px;
	display: inline-block;
	padding-right: 57px;
}

.row {
	margin-left: 15px;
	display: inline-block;
}

.row2 {
	margin-left: 43px;
	display: inline-block;
}


/* =========================Japan========================= */

.japanRed{
	background-color: #BC002D;
	vertical-align: center;
	margin: auto;
	width: 248px;
	height: 248px;
	top: 124px;
	border-radius: 100%;
	position: relative;
}


/* =========================France========================= */

.france{
	background-color: #000685;
}

.franceWhite{
	background-color: #FFFFFF;
	margin: 0 auto;
	height: 494px;
	width: 300px;
}

.franceRed{
	background-color: #E90427;
	margin: -494px 598px auto;
	height: 494px;
	width: 300px;
}


/* =========================Norway========================= */

.norway{
	background-color: #002868;
}

.norwayBlue_topLeft,
.norwayBlue_bottomLeft, 
.norwayBlue_topRight, 
.norwayBlue_bottomRight {
	background-color: #EF2B2D;
}

.norwayBlue_topRight,
.norwayBlue_bottomRight {
	width: 611px;
	height: 215px;
	border-left: 20px solid white;
	float: right;
	top: -494px;
	position: relative;
}

.norwayBlue_topLeft,
.norwayBlue_bottomLeft {
	width: 215px;
	height: 215px;
	border-right: 20px solid white;
}

.norwayBlue_topLeft{
	border-bottom: 20px solid white;
}

.norwayBlue_bottomLeft{
	margin-top:64px; 
	border-top: 20px solid white;
}


.norwayBlue_topRight{
	border-bottom: 20px solid white;
}

.norwayBlue_bottomRight{
	margin-top:64px;
	border-top: 20px solid white;
}

