/* CSS reset settings here */
/** {
	margin: 0px;
	padding: 0px;
}*/

body{
	
}

h1{
	text-align: center;
	margin-bottom: -30px;
}

div{
	border: 1px solid black;
	width: 1100px;
	height: 650px;
	margin: 50px auto;
}

.USFlag{
	background-color: red;
}

.USBlue{
	background-color: blue;
	width: 450px;
	height: 350px;
	vertical-align: top;
	margin-left: -1px;
	margin-top: -1px;
}

.USWhite{
	background-color: white;
	left: 225px;
	top: -357px;
	height: 50px;
	width: 649px;
	position: relative;
}

.USWhite_bottom{
	background-color: white;
	width: 1100px;
	height: 50px;
	top: -357px;
	left: -1px;
	margin-bottom: 50px;
	position: relative;
}

#star-five {
   margin: 5px 0;
   position: relative;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   top: -18px;
   right: 75px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid white;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg) scale(.2);
   -webkit-transform: rotate(35deg) scale(.2);
   -ms-transform:     rotate(35deg) scale(.2);
   -o-transform:      rotate(35deg) scale(.2);
}
#star-five:before {
   border-bottom: 80px solid white;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}
#star-five:after {
   position: absolute;
   display: block;
   color: white;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid white;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

.japanRed{
	background-color: red;
	vertical-align: center;
	margin: auto;
	width: 300px;
	height: 300px;
	top: 175px;
	border-radius: 100%;
	position: relative;
}

.franceFlag{
	background-color: blue;
	margin: 0 auto;
}

.franceWhite{
	background-color: white;
	position: relative;
	margin: 0 auto;
	top: -1px;
	width: 366.66px;
}

.franceRed{
	background-color: red;
	position: relative;
	margin: 0 auto;
	width: 366.66px;
	left: 366.66px;
	top: -653px;
}

.norwayFlag{
	background-color: blue;
}

.norwayBlue_topLeft{
	background-color: red;
	width: 300px;
	height: 300px;
	margin: 0;
	top: -1px;
	left: -1px;
	position: relative;
	border-bottom: 20px solid white;
	border-right: 20px solid white;
}